@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
    padding: 0;
    /* Add background color later */
    /* background-color: cyan; */
}

.primary-bg {
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),  url('../assets/hero-background.png');
    background-size: cover;
}

.primary-bg-80 {
    background-image:linear-gradient(rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.80)),  url('../assets/hero-background.png');
    background-size: cover;
}

.resume-bg {
    background-image:linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),  url('../assets/resume-background.png');
    background-size: cover;
}

.projects-bg {
    background-image:linear-gradient(rgba(255, 255, 255, 0.60), rgba(255, 255, 255, 0.60)),  url('../assets/work-background.png');
    
}

.contact-bg {
    background-image:linear-gradient(rgba(255, 255, 255, 0.60), rgba(255, 255, 255, 0.60)),  url('../assets/contact-background.png');
    background-size: cover;
}

.list-none {
    border-bottom: solid 5px transparent;
    border-top: solid 5px transparent;
}

.selected {
    color: #6D28D9;
    border-bottom: solid 4px #6D28D9;
}

#dropdown-menu {
    flex-wrap: nowrap; 
}
  
#dropdown-menu div {
    flex: 0 0 auto; 
    white-space: nowrap; 
}

.nav-hover {
    color: #C4B5FD;
    border-bottom: solid 4px #C4B5FD;
}

/* Parralax Effect */

#resume-section, #projects-section, #contact-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-section {
    position: relative;
    height: 90vh;
    z-index: -3;
}

#p-hero-section{
    position: relative;
    height: 70vh;
    z-index: -1;
}

#hero-content, #p-hero-content {
    position: absolute;
}

#particles-js {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Loader */

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.9); /* This gives a light overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensuring it's on top of everything */
}

.loader {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
    animation: animate 1.2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

.loader span:nth-child(1) {
    filter: blur(5px);
}

.loader span:nth-child(2) {
    filter: blur(10px);
}

.loader span:nth-child(3) {
    filter: blur(25px);
}

.loader span:nth-child(4) {
    filter: blur(50px);
}

.loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #f1f1f1;
    border: solid white 10px;
    border-radius: 50%;
}

/* Media Queries */

@media screen and (min-width: 1024px) {
    #nav-button {
        display: none;
    }

    #nav-menu {
        display: flex;
    }

    .nav-icon {
        display: none !important;
    }

}

@media screen and (max-width: 1023px) {
    
    #nav-button {
        display: flex;
    }

}