@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
    padding: 0;
    /* Add background color later */
    /* background-color: cyan; */
}

.primary-bg {
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),  url('../assets/hero-background.png');
    background-size: cover;
}

.primary-bg-80 {
    background-image:linear-gradient(rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.80)),  url('../assets/hero-background.png');
    background-size: cover;
}

.about-img {
    background-image: url('../assets/about.png');
    background-size: no-repeat;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.list-none {
    border-bottom: solid 5px transparent;
    border-top: solid 5px transparent;
}

.selected {
    color: #3B82F6;
    border-bottom: solid 5px #3B82F6;
}

#dropdown-menu {
    /* ...other styles... */
    flex-wrap: nowrap; /* prevents the flex items from wrapping */
  }
  
  #dropdown-menu div {
    flex: 0 0 auto; /* flex-grow, flex-shrink, flex-basis */
    white-space: nowrap; /* prevents wrapping inside each item */
  }
  
